<?xml version="1.0"?>
<config>
	<modules>
		<Aduroware_Capitalism>
			<version>1.0.0</version>
		</Aduroware_Capitalism>
	</modules>

	<global>
		<helpers>
			<capitalism>
				<class>Aduroware_Capitalism_Helper</class>
			</capitalism>
		</helpers>
		<blocks>
			<capitalism>
				<class>Aduroware_Capitalism_Block</class>
			</capitalism>
		</blocks>
		<models>
			<capitalism>
				<class>Aduroware_Capitalism_Model</class>
				<resourceModel>capitalism_mongo</resourceModel>
			</capitalism>
			<capitalism_mongo>
				<class>Aduroware_Capitalism_Model_Mongo</class>
			</capitalism_mongo>
		</models>
	</global>

	<frontend>
		<routers>
			<capitalism>
				<use>standard</use>
				<args>
					<module>Aduroware_Capitalism</module>
					<frontName>capitalism</frontName>
				</args>
			</capitalism>
		</routers>
		<layout>
			<updates>
				<capitalism>
					<file>capitalism.xml</file>
				</capitalism>
			</updates>
		</layout>
	</frontend>

</config>
